:root {
    --primary: #eb9a0a;
    --gray-1: #20232a;
    --gray-2: #efefef;
    --red-1: #ee3c3c;
    --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --box-shadow-nav: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --text-color: #444;
}